syntax:glob

# IntelliJ IDEA
.idea/**
*.iml

# Node.js
node_modules/
.env

# solidity-coverage
.coverage_artifacts
.coverage_contracts
coverage/
coverageEnv/
coverage.json

# truffle suite
build/

# hardhat
cache/
!/artifacts/
/artifacts/**
!/artifacts/contracts/
/artifacts/contracts/**
!/artifacts/contracts/OwnableToAccessControlAdapter.sol/
!/artifacts/contracts/OwnableToAccessControlAdapter.sol/OwnableToAccessControlAdapter.json

# etc
*.log
keys.js
bin
